*{Margin:0;Padding:0;}
html, body {margin: 0; height: 100%; overflow-X: hidden}
#menu_logo{
	width:100%;
	border-bottom:1px solid;
	height:80px;
	background:#fff;
	position:fixed;
	opacity:0.8;
}
#menu_logo_container{
	height:80px;
}
#logo{
	width:60px;
	float:left;
	margin-top:10px;
}
.menu{
	width:215px;
	float:right;
	opacity:1;
}
.menu ul li{
	font-family:arial;
	padding-bottom:5px;
	float:right;
	width:65px;
	max-height:32px;
	padding:1.8px;
	float:left;
	margin:0.5px;
	font-size:20px;
	line-height:40px;
	opacity:1;
}
ul li:hover{
	text-decoration:underline;
	transition:all 1s;
}
.menu ul li a{
	color:black;
	text-decoration:none;
}
.menu ul li a:hover{
	text-decoration:underline;
	transition:all 1s;
}
ul{
	font-family:arial;
	margin:0;
	padding:0;
	list-style:none;
    z-index:1;
}
ul li{
    opacity:1;
}

ul li ul li{
	font-family:arial;
	text-align:left;
	display:none;
	background:#fff;
    opacity:1;
	margin-top:-1px !important;
}
ul li:hover ul li{
	transition:all 1s;
	opacity:1;
	display:block;
	width:175px;
}
#container{
	margin:auto;
}
.container .slider_container div img{
	width:100%;
	height:240px;
}
.slider_container{
	position:relative;
}
.slider{
	position:absolute;
	opacity:0;
	width:100%;
    z-index:-1;
	transition:all 1s;
}
.slider_container .slider.active{
	opacity:0.8;
}
#top {
    margin-top: 240px;
    padding: 15px;
    font-family: arial;
    font-size: 49px;
    background: #fff;
    text-align: center;
    color: #33bf5e;
}
.serviceSection{
	margin-top: -15px;
	padding-bottom:5px;
}
#imgOne{
	width:250px;
	margin:15px;
	border:1px solid;
	background: #fdfdfd;
	overflow:hidden;
	max-height: 75px;
}
#imgOne img {
    width: 80px;
    height: 75px;
    margin-left: -2px;
    float: left;
    border: 1px solid black;
    background:#11c1a4;
    transition: all 1s;
}
#imgOne img:hover{
	border-right:1px solid #fff;
}
#imgTwo{
	width:250px;
	margin:15px;
	background: #feffff2e;
	border:1px solid;
	overflow:hidden;
	max-height: 75px;
}
#imgTwo img{
	width: 80px;
    height: 75px;
    margin-left: -2px;
    float: left;
    border: 1px solid black;
    background:#010c0ad9;
    transition: all 1s;
}
#imgTwo img:hover{
	border-right:1px solid #fff;
}
#contentTitle{
	color:#1b446f;
	font-family:arial;
	font-size:20px;
	transform:scaleX(1);
    transition: all 1s;
}
#imgOne:hover #contentTitle{
	transform:scaleX(0);
	display:none;
}
#imgTwo:hover #contentTitle{
	transform:scaleX(0);
	display:none;
}
#content{
	color:#0b1729;
	margin:4px 5px 0 0;
	font-family:arial;
	transform:scaleX(0);
	transform-origin:left;
    transition: all 1s;
}
#imgOne:hover #content{
	transform:scaleX(1);
	display:block;
}
#imgTwo:hover #content{
	transform:scaleX(1);
	display:block;
}
.contentTitle1{
	float:right;margin-right:7%;padding-top:9%
}
.contentTitle2{
	float:right;margin-right:17%;padding-top:9%
}
.contentTitle3{
	float:right;margin-right:15%;padding-top:9%
}
.contentTitle4{
	float:right;margin-right:12%;padding-top:9%
}

#wholeAbout{
	display:inline-block;
}
#wholeAbout center{
	margin-left:5%
}
#aboutUs{
	background: #09ff76;
    width: 80%;
    padding: 15px;
    color: green;
    font-family:'Dancing Script', cursive;
    border: 1px solid;
    font-size: 35px;
    margin-top: 7%;
    margin-right: 6.7%;
}
#modelI{
	margin:auto;
	height:250px;
	border-radius:60%;
}
#modelII{
	margin:auto;
	height:250px;
	border-radius:60%;
}
#modelIDiv{
	width:240px;
	text-align:center;
	float:left;
	margin:45px;
	transition:all 1s;
}
#modelIDiv:hover{
	cursor:pointer;
    transform:translateY(-7px);
}

#modelIDiv2{
	width:240px;
	text-align:center;
	float:left;
	margin:45px;
	transition:all 1s;
}
#modelIDiv2:hover{
	cursor:pointer;
    transform:translateY(-7px);
}
#me {
    width: 32px;
    height: 32px;
    background: #d6ff95;
    border-radius: 50%;
    border: 1px solid black;
    margin: 8px;
    float: left;
}
#me:hover{
	border:1px solid white;
	background:black;
	transition:all 1s;
}
span{
	font-family:arial;
	font-size:25px;
}
#more{
	margin:auto;
	border:1px solid;
	padding:10px;
	width:250px;
	text-align:center;
	font-size:25px;
	background:lightgreen;
	border-radius:100px;
	transition:all 1s;
}
#more a{
	text-decoration:none;
	color:black;
}

#more:hover{
	box-shadow:-1px 1px 3px 0px;
    transform:translateY(4px);
}
#map{
	width:100%;
	height:300px;
	margin:auto;
}
#upF{
	font-family:'Dancing Script', cursive;
    background:#ddd;
	width:200px;
	border:1px solid;
	text-align:center;
	font-size:25px;
	margin-left:50px;
	position:relative;
	top:11px;
	left:-19px;
}
#upF:before {
    content: "";
    position: absolute;
    border-right: 16px solid #ffffff00;
    border-top: 26px solid #12181b;
    left: -16px;
	z-index:-1;
    transform: rotate(180deg);
}
#footerUp{
	background:#12181b;
	overflow:hidden;
	font-family:arial;
}
#fb{
	width:32px;
	background:#382323;
	border:1px solid black;
	margin:8px;
	float:left;
}
#fb:hover{
	border:1px solid white;
	background:black;
	transition:all 1s;
}
#inputFiled input{
	width:215px;
	margin-bottom:10px;
	padding-top:8px;
	padding-bottom:8px;
	border:1px solid black;
}
.submitButton input{
	width:216.4px;
	background:lightblue;
	padding:8px;
	border:1px solid black;
    transition:all 1s;
}
.submitButton input:hover{
	cursor:pointer;
	background:#35a4f3;
	border:1px solid black;
}
#link{
	color:#52e8f7;
    text-decoration:none;
}
#link:hover{
	color:#ddd;
    text-decoration:underline;
}
#footerTag{
	font-family:arial;
	background:#12181b;
	padding:20px;
	color:#ddd;
}
@media only screen and (min-width:350px){
#menu_logo{
	height:100px;
}
#menu_logo_container{
	height:100px;
}
#logo{
	width:80px;
	margin-left:3px;
}
.menu{
	margin-top:12.5px;
	padding-top:2px;
	width:265px;
}
.container .slider_container div img{
	height:280px;
}
#top{
	margin-top:280px;
}
#imgOne,#imgTwo{
	width:320px;
}
}
@media only screen and (min-width:400px){
#logo{
	margin-left:12px;
}
#imgOne,#imgTwo{
	margin-left:35px;
}
}
@media only screen and (min-width:500px){
#aboutUs{
	width:60%;
}
#logo{
	margin-left:0;
}
.menu{
	width:400px;
	margin-top:45px;
	margin-left:0;
	float:left;
}
#imgOne,#imgTwo{
	width:320px;
	margin:15px auto;
}
#modelIDiv{
	width:40% !important;
	margin-left:25px;
}
#modelIDiv2{
	width:40% !important;
	float:left !important;
	margin-right:0;
	margin-left:25px;
	margin-bottom:0;
}
	
}
@media only screen and (min-width:530px){
.menu{
	width:420px;
	margin-top:45px;
	margin-left:8px;
	float:right;
}
#logo{
	width:80px;
	margin-left:12px;
}
#imgOne,#imgTwo{
	width:320px;
	margin:15px auto;
}
#me {
	margin-left:0px;
}
}
@media only screen and (min-width:600px){
.menu{
	width:450px;
	margin-top:40px;
}
ul li ul{
	padding-top:10px
}
#logo{
	width:80px;
	margin-left:25px;
}
.container .slider_container div img{
	height:450px !important;
}
#top{
	margin-top:450px;
}

}
@media only screen and (min-width:700px){
#imgOne{
	width:280px;
	float:left;
	margin:30px 6% 0 3%;
}
#imgTwo{
	width:280px;
	float:right;
	margin:30px 3% 0 6%;
}
.serviceSection{
	background: #fff;
	padding-bottom:250px;
}
#modelIDiv{
	width:240px !important;
	text-align:center;
	float:left;
	margin:40px 60px !important;
	transition:all 1s;
}

#modelIDiv2{
	width:240px !important;
	text-align:center;
	float:left;
	margin:40px 60px !important;
	transition:all 1s;
}
#map{
	width:85%;
	height:280px;
}
}
@media only screen and (min-width:800px){

#imgOne{
	width:310px;
	float:left;
	margin:30px 50px 0 30px;
}
#imgTwo{
	width:310px;
	float:right;
	margin:30px 30px 0 50px;
}
}
@media only screen and (min-width:1000px){

.container .slider_container div img{
	height:500px;
}
#top{
	margin-top:450px;
	font-size: 58px;
	padding:25px;
}
#imgOne{
	max-height:112.5px;
	width:320px;
	float:left;
	margin:30px 6% 0 10%;
}
#imgTwo{
	max-height:112.5px;
	width:320px;
	float:right;
	margin:30px 10% 0 6%;
}
#imgOne img{
	width:120px;
    height:112.5px;
}
#imgTwo img{
	width:120px;
    height:112.5px;
}
.serviceSection{
	padding-bottom:380px;
}
#contentTitle{
	font-size:24px;
}
#content{
	margin-top:18px;
}
#modelIDiv{
	width:200px !important;
	text-align:center !important;
	float:left !important;
	margin:40px 38px 0 8px !important;
	transition:all 1s !important;
}

#modelIDiv2{
	width:200px !important;
	text-align:center !important;
	float:left !important;
	margin:40px 38px 0 20px!important;
	transition:all 1s;
}

#more{
	margin-top:5%;
}
#map{
	width:75%;
	height:350px;
}
#upF:before {
    left: -17px;
}
}
@media only screen and (min-width:1100px){
#wholeAbout{
	display:inline-block;
}
#aboutUs{
	background:#a5dc89 !important;
	width:550px !important;
	padding:15px !important;
	border:1px solid !important;
	margin:auto;
	font-family:'Dancing Script', cursive;
	font-size:50px;
}
#modelI{
	width:100% !important;
	float:left !important;
}
#modelII{
	width:100% !important;
	float:left !important;
}
#modelIDiv{
	width:240px !important;
	text-align:center !important;
	float:left !important;
	margin:40px 45px !important;
	transition:all 1s !important;
}

#modelIDiv2{
	width:240px !important;
	text-align:center !important;
	float:left !important;
	margin:40px 45px !important;
	transition:all 1s;
}

span{
	font-family:arial;
	font-size:25px;
}
#more{
	margin-top:-15px;
	width:300px;
}

#more:hover{
	box-shadow:-1px 1px 3px 0px;
    transform:translateY(4px);
}
#more a{
	text-decoration:none;
	color:black;
}


#me {
	margin-left:10px;
}
}
@media only screen and (max-width:299px){
#wholeAbout center{
	margin-left:0;
}
#wholeAbout center h1{
	margin-left:0;
}
#aboutUs{
    width: 75%;
    padding: 10px;
    color: green;
    font-family: arial;
    border: 1px solid;
    font-size: 35px;
	font-family:'Dancing Script', cursive;
    margin-top: 7%;
    margin-right:12%;
}
#modelIDiv{
	width:75%;
	margin-left:25px;
}
#modelIDiv2{
	width:75%;
	margin-left:25px;
}
	
}