*{Margin:0;Padding:0;}
html, body {margin: 0; height: 100%; overflow-X: hidden}
#menu_logo{
	width:100%;
	border-bottom:1px solid;
	height:80px;
	background:#fff;
	position:fixed;
	opacity:0.8;
}
#menu_logo_container{
	height:80px;
}
#logo{
	width:60px;
	float:left;
	margin-top:10px;
}
.menu{
	width:215px;
	float:right;
	opacity:1;
}
.menu ul li{
	font-family:arial;
	padding-bottom:5px;
	float:right;
	width:65px;
	max-height:32px;
	padding:1.8px;
	float:left;
	margin:0.5px;
	font-size:20px;
	line-height:40px;
	opacity:1;
}
ul li:hover{
	text-decoration:underline;
	transition:all 1s;
}
.menu ul li a{
	color:black;
	text-decoration:none;
}
.menu ul li a:hover{
	text-decoration:underline;
	transition:all 1s;
}
ul{
	font-family:arial;
	margin:0;
	padding:0;
	list-style:none;
    z-index:1;
}
ul li{
    opacity:1;
}

ul li ul li{
	font-family:arial;
	text-align:left;
	display:none;
	background:#fff;
    opacity:1;
	margin-top:-1px !important;
}
ul li:hover ul li{
	transition:all 1s;
	opacity:1;
	display:block;
	width:175px;
}
#welcome{
	padding:25px 0;
}
.welcome{
	text-align:center;
    font-size: 39px;
	font-family: 'Kalam', cursive;
	/*font-family: 'Roboto', sans-serif;*/
}
.welcomeContent{
	text-align:center;
	font-family: 'Roboto', sans-serif;
}
#btn{
	background:#0c9ff5e0;
	color:#fff;
	padding:8.5px;
	font-family:arial;
	font-size:15px;
	border:1px solid #616e73;
	transition:all 1s
}
#btn:hover{
	background:#4448caa6;
	border:1px solid black;
}
#btnDiv{
	padding:15px;
	width:120px;
	margin:auto;
}
#openPositions{
	font-family:'Roboto',sans-serif;
	font-size:32px;
	color:green;
	text-align:center;
}
#jobContainer{
	width:98%;
	margin:20px auto;
	border:1px solid black;
	height:100px;
	background: #8dffab;
	transition:all 1s;
}
#job{
	width:40%;
	font-family:'Roboto',sans-serif;
	margin-top:15px;
	margin-left:20px;
	margin-right:20px;
	float:left;
	font-size:30px;
	transition:all 1s;
}
#apply{
	width:31.5%;
	font-family:'Roboto', sans-serif;
	font-size:30px;
	float:left;
	margin-top:15px;
	transition:all 1s;
}
#arrow{
	width:35px;
	margin-top: 30px;
	margin-left:2.5px;
	transition:all 1s;
}

#jobContainer:hover{
	background:lightgreen;
}
#jobContainer:hover #job,#apply{
	color:green;
}
#jobContainer:hover #arrow{
    transform:translate(10px);
}
#upF{
	font-family:'Dancing Script', cursive;
    background:#ddd;
	width:200px;
	border:1px solid;
	text-align:center;
	font-size:25px;
	margin-left:50px;
	position:relative;
	top:11px;
	left:-19px;
}
#upF:before {
    content: "";
    position: absolute;
    border-right: 16px solid #ffffff00;
    border-top: 26px solid #12181b;
    left: -16px;
	z-index:-1;
    transform: rotate(180deg);
}
#footerUp{
	background:#12181b;
	overflow:hidden;
	font-family:arial;
}
#fb{
	width:32px;
	background:#382323;
	border:1px solid black;
	margin:8px;
	float:left;
}
#fb:hover{
	border:1px solid white;
	background:black;
	transition:all 1s;
}
#inputFiled input{
	width:215px;
	margin-bottom:10px;
	padding-top:8px;
	padding-bottom:8px;
	border:1px solid black;
}
.submitButton input{
	width:216.4px;
	background:lightblue;
	padding:8px;
	border:1px solid black;
    transition:all 1s;
}
.submitButton input:hover{
	cursor:pointer;
	background:#35a4f3;
	border:1px solid black;
}
#link{
	color:#52e8f7;
    text-decoration:none;
}
#link:hover{
	color:#ddd;
    text-decoration:underline;
}
#footerTag{
	font-family:arial;
	background:#12181b;
	padding:20px;
	color:#ddd;
}
@media only screen and (min-width:350px){
#menu_logo{
	height:100px;
}
#menu_logo_container{
	height:100px;
}
#logo{
	width:80px;
	margin-left:3px;
}
.menu{
	margin-top:12.5px;
	padding-top:2px;
	width:265px;
}
}
@media only screen and (min-width:400px){
#logo{
	margin-left:12px;
}
}
@media only screen and (min-width:450px){
	#apply{margin-top:21px;}
	#job{margin-top: 21px;}
}
@media only screen and (min-width:500px){
#logo{
	margin-left:0;
}
.menu{
	width:400px;
	margin-top:45px;
	margin-left:0;
	float:left;
}
}
@media only screen and (min-width:530px){
.menu{
	width:420px;
	margin-top:45px;
	margin-left:8px;
	float:right;
}
#logo{
	width:80px;
	margin-left:12px;
}
#openPositions{
	font-size:38px;
}
}
@media only screen and (min-width:600px){
.menu{
	width:450px;
	margin-top:40px;
}
ul li ul{
	padding-top:10px
}
#logo{
	width:80px;
	margin-left:25px;
}
#video{
	width:600px;
	margin:0 auto;
}
.welcome{
	font-size:45px;
}
.welcomeContent{
	width:60%;
	margin:0 auto;
}
}
@media only screen and (min-width:650px){
#jobContainer{width:80%;}
}
@media only screen and (min-width:1000px){
#jobContainer{width:65%;}
.welcome{
	font-size:50px;
}
.welcomeContent{
	width:40%;
	margin:0 auto;
}
#video{
	width:800px;
}
}